<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>gocoin</name>
            <displayName><![CDATA[Gocoin]]></displayName>
            <version><![CDATA[1.3.1]]></version>
            <description><![CDATA[Accept payments using Bitcoin or Licoin using GoCoin Payment Gateway.]]></description>
            <author><![CDATA[GoCoin]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Are you sure you want to delete your details?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>